{% extends 'base.html.twig' %}

{% block title %}Modification du profil de {{ app.user.firstname }} {{ app.user.lastname }}{% endblock %}

{% block body %}
<h1>Modification du profil de {{ app.user.firstname }} {{ app.user.lastname }}</h1>
    {{ form(form) }}
{% endblock %}