{% extends 'base.html.twig' %}

{% block title %}Modification du mot de passe - Cowoit{% endblock %}

{% block body %}
    <div class="row mb-2 form-card edit-password-form">
        <h1 class="h3 mb-3 font-weight-normal title">Modification du mot de passe</h1>
        <div class="col-2"></div>
        <div class="col-8 text-center bg-light card shadow p-3 mb-5 bg-white rounded">
            {{ form_start(form) }}
            <div class="form-floating mb-3">
              {{ form_widget(form.password.first) }}
              {{ form_label(form.password.first) }}
            </div>
            <div class="form-floating mb-3">
                {{ form_widget(form.password.second) }}
                {{ form_label(form.password.second) }}
              </div>
            <div class="mb-2">
                <button type="submit" class="button">Enregistrer</button>{{ button_label|default('') }}</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}