{% extends 'base.html.twig' %}

{% block title %}Modification du Profil{% endblock %}

{% block body %}
    <div class="row mb-2 form-card">
        <h1 class="h3 mb-3 font-weight-normal title">Modification du Profil</h1>
        <div class="col-2"></div>
        <div class="col-8 text-center bg-light card shadow-lg p-3 mb-5 bg-white rounded">
          {{ form_errors(form.phone) }}
            {{ form_start(form) }}
            <div class="form-floating mb-3">
                {{ form_widget(form.email) }}
                {{ form_label(form.email) }}
              </div>
            <div class="form-floating mb-3">
              {{ form_widget(form.firstname) }}
              {{ form_label(form.firstname) }}
            </div>
            <div class="form-floating mb-3">
              {{ form_widget(form.lastname) }}
              {{ form_label(form.lastname) }}
            </div>
            <div class="form-floating mb-3">
              {{ form_widget(form.phone) }}
              {{ form_label(form.phone) }}
            </div>
            <div class="form-floating mb-3">
              {{ form_widget(form.bio) }}
              {{ form_label(form.bio) }}
            </div>
            <div class="form-floating mb-3">
              {{ form_widget(form.vehicle) }}
              {{ form_label(form.vehicle) }}
            </div>
            <div class="form-floating mb-3">
              {{ form_widget(form.photoFile) }}
            </div>
            <div class="mb-2">
                <button type="submit" class="btn btn-outline-success">Enregistrer</button>{{ button_label|default('') }}</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}