{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Vous êtes connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
        </div>
    {% endif %}


    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >
    <div class="row mb-2 form-card">
        <h1 class="h3 mb-3 font-weight-normal title">Je me connecte</h1>
        <div class="col-2"></div>
        <div class="col-8 text-center bg-light card shadow-lg p-3 mb-5 bg-white rounded">
            <div class="form-floating mb-3 mt-3">
                <input type="email" value="{{ last_username }}" class="form-control" id="inputEmail" placeholder="name@example.com" name="email">
                <label for="inputEmail" class="form-floating mb-3">E-mail</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="password">
                <label for="inputPassword">Mot de passe</label>
            </div>
            <div class="mb-2">
                <button class="button" type="submit">
                    Connexion
                </button>
            </div> 
            <a href="{{ path('app_register')}}">Pas encore inscrit ?</a>
        </div>
    </div>
    

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

</form>
{% endblock %}
