{% extends 'base.html.twig' %}

{% block title %}Search{% endblock %}

{% block body %}
<h1>Cowoit</h1>

{{ form_start(form) }}
    {{ form_label(form.date) }}
    {{ form_widget(form.date) }}
    {{ form_label(form.addressStart) }}
    {{ form_widget(form.addressStart) }}
    {{ form_label(form.addressEnd) }}
    {{ form_widget(form.addressEnd) }}
    {{ form_row(form._token) }}
    <button class="btn">{{ button_label|default('Rechercher') }}</button>
{{ form_end(form, {'render_rest': false}) }}

{% for trip in trips %}
 <ul>
    {{ trip.date }}
    {{ trip.addressStart }}
    {{ trip.addressEnd }}
 </ul>
{% endfor %}

{% endblock %}
