{% extends 'base.html.twig' %}

{% block title %}Cowoit - covoiturage 100% électrique{% endblock %}

{% block body %}
    <section class="presentation-block">
        <img src="{{ asset('build/images/carpooling.jpeg') }}" alt="carpool illustration" class="carpool-illustration"/>
        <h1 class="h3 mb-3 font-weight-normal index-title">Trouvez le trajet idéal !</h1>
    </section>
    <div class="row mb-2 form-card">
        <div class="col-2"></div>
        <div class="col-8 text-center bg-light card cardForm p-3 mb-5 bg-white rounded search-form">
            {{ form_start(form) }}
            <div class="form-floating mb-3 mt-3">
                {{ form_widget(form.date) }}
                {{ form_label(form.date) }}
            </div>
            <div class="form-floating mb-3">
            {{ form_widget(form.addressStart) }}
            {{ form_label(form.addressStart) }}
            </div>
            <div class="form-floating mb-3">
            {{ form_widget(form.addressEnd) }}
            {{ form_label(form.addressEnd) }}
            </div>
            <div class="mb-2">
                {{ form_row(form._token) }}
                <button class="button">Rechercher</button>{{ button_label|default('') }}</button>
                {{ form_end(form, {'render_rest': false}) }}
            </div>
        </div>
    </div>

    <div class="search">
        {% for trip in trips %}
        <a href="{{ path('trip_show', {'id': trip.id}) }}" class="spaceCard">
            <div class="profile-search cardForm">
                    <p class="navbar-profile">Départ: {{ trip.date|format_datetime('none', 'short', locale='fr')}} - {{ trip.addressStart }}</p>
                    <p class="navbar-profile">Arrivée: {{ trip.addressEnd }}</p>
                    <p class="navbar-profile">{{ trip.driver.firstname }}</p>
            </div>
        </a>
        {% endfor %}
    </div>

{% endblock %}