{% extends 'base.html.twig' %}

{% block title %}Search{% endblock %}

{% block body %}
<div class="navbar">
    <div>
        <img class="homepageLogo" src="{{ asset('build/images/cowoitLogo.png') }}" alt="logoCowoit">
    </div>
    <div class="navbarList">
        <span class="list">
            <li><a href="{{ path('trip_new') }}">Ajouter un trajet</a></li>
            <li><a href="{{ path('trip_history') }}">Historique</a></li>
            <li><a href="{{ path('trip_map') }}">Charge Map</a></li>        
        </span>
        <span class="iconList">
            <li><a href="{{ path('trip_map') }}"><img src="{{ asset('build/images/chargeMapIcon.png') }}" alt="chargeMapIcon"></a></li>
            <li><a href="{{ path('trip_history') }}"><img src="{{ asset('build/images/historiqueIcon.png') }}" alt="historiqueIcon"></a></li>
            <li><a href="{{ path('trip_new') }}"><img src="{{ asset('build/images/newTripIcon.png') }}" alt="newTripIcon"></a></li>
        </span>
    </div>
</div>


<div class="form">
    {{ form_start(form) }}
    {{ form_label(form.date) }}
    {{ form_widget(form.date) }}
    {{ form_label(form.addressStart) }}
    {{ form_widget(form.addressStart) }}
    {{ form_label(form.addressEnd) }}
    {{ form_widget(form.addressEnd) }}
    {{ form_row(form._token) }}
        <button class="btn">{{ button_label|default('Rechercher') }}</button>
    {{ form_end(form, {'render_rest': false}) }}
</div>

{% for trip in trips %}
 <ul>
    {{ trip.date }}
    {{ trip.addressStart }}
    {{ trip.addressEnd }}
 </ul>
{% endfor %}

{% endblock %}
