{% extends 'base.html.twig' %}

{% block title %}Trajet {{ trip.addressStart }} - {{ trip.addressEnd }} - Cowoit {% endblock %}

{% block body %}
    <div class="profile">
        {% for message in app.flashes('message') %}
            <ul>{{message}}</ul>
        {% endfor %}
        <h3>Informations Conducteur</h3>
        <br>
        <img class="photo-profile" src="/uploads/{{ trip.driver.photo }}" alt="">
        <p class="bold">{{ trip.driver.firstname }} {{ trip.driver.lastname }}</p>
        <p><span class="bold">Véhicule:</span>
            {% if trip.driver.vehicle == null %}
                Non specifié
            {% else %}
                {{ trip.driver.vehicle }}
            {% endif %}
        </p>
        <a class="button" href="{{ path('profile', {'id': trip.driver.id}) }}">Voir</a>
        <hr>
        <br>
        <h3>Informations Voyage</h3>
        <br>
        <i class="material-icons car-icon">electric_car</i>
        <p class="bold">{{ trip.date|format_datetime('full', 'none', locale='fr') }}</p>
        <p><span class="bold">Heure de départ:</span> {{trip.date|format_datetime('none', 'short', locale='fr') }}</p>
        <p><span class="bold">Arrivée:</span> {{ trip.addressEnd }}</p>
        <p><span class="bold">Départ:</span> {{ trip.addressStart }}</p>
        <p><span class="bold">Passagers possibles:</span> {{ trip.nbPassengers }}</p>
            {% if app.user is not null %}
                {% if trip.driver.id == app.user.id %}
                    <a class="button" href="{{ path('trip_delete', {'id': trip.id}) }}">Supprimer</a>
                {% elseif participation != null %}
                    <a class="button" href="{{ path('trip_delete', {'id': trip.id}) }}">Supprimer</a>
                {% else %}
                    <a class="button" href="{{ path('trip_reserved', {'id': trip.id}) }}">Réserver</a>
                {% endif %}
            {% endif %}
            {% if app.user is null %}
                <a class="button" href="{{ path('trip_reserved', {'id': trip.id}) }}">Réserver</a>
            {% endif %}
    </div>
{% endblock %}