{% extends 'base.html.twig' %}

{% block title %}Annonce de covoiturage{% endblock %}

{% block body %}
    <div class="profile">
            {% for message in app.flashes('message') %}
                <ul>{{message}}</ul>
            {% endfor %}
            <h3>Informations Conducteur</h3>
            <br>
            <p class="navbar-profile">Prénom: {{ trip.driver.firstname }}</p>
            <p class="navbar-profile">Nom: {{ trip.driver.lastname }}</p>
            <p class="navbar-profile">Véhicule:
                {% if trip.driver.vehicle == null %}
                    Non specifié
                {% else %}
                    {{ trip.driver.vehicle }}
                {% endif %}
            </p>
            <a href="{{ path('profile', {'id': trip.driver.id}) }}">Voir</a>
            <br>
            <hr>
            <br>
            <h3>Informations Voyage</h3>
            <br>
            <p class="navbar-profile">{{ trip.date|format_datetime('full', 'none', locale='fr') }}</p>
            <p class="navbar-profile">Heure de départ: {{trip.date|format_datetime('none', 'short', locale='fr') }}</p>
            <p class="navbar-profile">Départ: {{ trip.addressStart }}</p>
            <p class="navbar-profile">Arrivée: {{ trip.addressEnd }}</p>
            <p class="navbar-profile">Passagers possibles: {{ trip.nbPassengers }}</p>
            {% if app.user is not null %}
                {% if trip.driver.id == app.user.id %}
                    <a href="{{ path('trip_delete', {'id': trip.id}) }}">Supprimer</a>
                {% elseif participation != null %}
                    <a href="{{ path('trip_delete', {'id': trip.id}) }}">Supprimer</a>
                {% else %}
                    <a href="{{ path('trip_reserved', {'id': trip.id}) }}">Réserver</a>
                {% endif %}
            {% endif %}
            {% if app.user is null %}
                <a href="{{ path('trip_reserved', {'id': trip.id}) }}">Réserver</a>
            {% endif %}
    </div>
{% endblock %}