{% block header %}
    <div class="navbar">
        <a href="/"><img src="{{ asset('build/images/cowoitLogo.png') }}" alt="cowoit logo" class="cowoit-logo"/></a>
        <ul class="menu">
            <li><a href="#">Rechercher</a></li>
            <li><a href="{{ path('trip_map') }}">Charge map</a></li>
            {% if app.user %}
                <li><a href="{{ path('trip_new') }}">Proposer un trajet</a></li>
                <li>
                    <a href="/profile" class="navbar-link">
                        <i class="material-icons navbar-icon">account_circle</i>
                        <span class="navbar-text">Profil</span>
                    </a>
                </li>
            {% else %}
                <li><a href="{{ path('app_register')}}">Inscription</a></li>
                <li><a href="{{ path('app_login')}}">Connexion</a></li>
            {% endif %}
        </ul>
    </div>
{% endblock %}